body {
    font: 400 100%/120% 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.main-desc {
    margin-top: 1em;
}
.questions h2 {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
}
.questions ul {
    padding: 0;
    list-style: none;
}
.questions h3 {
    font-size: 1.3rem;
}
.questions ul > li {
    padding: 0 0 15px 0;
}
.questions ol li {
    margin: 0 0 5px 0;
}

.test {
    display: inline-block;
    vertical-align: baseline;
    padding: .2rem .4rem;
    font-size: 90%;
    color: blue;
    background-color: #f7f7f9;
    border-radius: .25rem;
}

.complexity {
    display: inline-block;
    vertical-align: baseline;
    padding: .2rem .4rem;
    font-size: 90%;
    color: green;
    background-color: #f7f7f9;
    border-radius: .25rem;
    font-weight: 800;
}

.level,
.level-beginner {
    display: inline-block;
    vertical-align: baseline;
    padding: .2rem .4rem;
    font-size: 90%;
    border-radius: .25rem;
}
.level-beginner {
    background-color: #efef8f;
}
.level-medium {
    background-color: #E3CEAB;
}
.level-hard {
    background-color: pink;
}

.definition {
    color: purple;
}

.head {
    margin: 0 0 10px 0;
}
.head .title {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.num {
    display: inline-block;
    vertical-align: middle;
    padding: .4rem .6rem;
    font-size: 110%;
    font-weight: bold;
    color: green;
    background-color: #f7f7f9;
    border-radius: .25rem;
    margin: 0 0 0 5px;
}

.intro {
    padding: 2rem 1rem 2rem;
}
.intro h3 {
    margin: 0 0 1.5rem 0;
}

details {
    margin: 0 0 10px 0;
    line-height: 1.5;
    cursor: pointer;
}
details .title {
    display: inline-block;
    margin: 0 0 5px 0;
    width: 90%;
}
details summary {
    cursor: pointer;
}
details summary p {
    margin: 0 0 5px 0;
}
details pre {
    display: block;
    padding: 10px;
    margin: 5px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
@media (max-width: 767px) {
    details pre {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        background: none;
        border-radius: 0;
    }
}
details pre code {
    display: block;
    padding: 5px;
    background: #3F3F3F;
    color: #DCDCDC;
}

ul li ul li {
    list-style: none;
}

.jumbotron {
    background: #fee;
    /*background: #fef;*/
    padding: 1rem 1rem 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 767px) {
    .jumbotron {
        padding-left: 0;
        padding-right: 0;
    }
}

.data {
    padding: 0 0 15px 0;
}
@media (max-width: 767px) {
    .data ol {
        padding: 0 0 0 10px;
    }
}

.data ol > li {
    margin: 0 0 25px 0;
}
.data ol > li:last-child {
    margin: 0;
}
