body {
    font: 400 100%/120% 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.wrapper {
    width: 980px;
    margin: 0 auto;
}

details {
    margin: 0 0 10px 0;
    line-height: 1.5;
    cursor: pointer;
}
details .title {
    display: inline-block;
    margin: 0 0 5px 0;
    width: 90%;
}
details summary {
    cursor: pointer;
}
details summary p {
    margin: 0 0 5px 0;
}
details pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
details pre code {
    display: block;
    padding: 5px;
    background: #3F3F3F;
    color: #DCDCDC;
}

ul li ul li {
    list-style: none;
}

.jumbotron {
    background: #fee;
    /*background: #fef;*/
    padding: 2rem 1rem;
}

.data {
    padding: 0 0 15px 0;
}
.data ol > li {
    margin: 0 0 25px 0;
}
.data ol > li:last-child {
    margin: 0;
}
