body {
    font: 400 100%/120% 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.wrapper {
    width: 980px;
    margin: 0 auto;
}

details {
    margin: 0 0 10px 0;
    line-height: 1.5;
}
details .title {
    display: inline-block;
    margin: 0 0 5px 0;
    width: 90%;
}
details summary {
    cursor: pointer;
}

ul li ul li {
    list-style: none;
}

.jumbotron {
    background: #fee;
    //background: #fef;
    padding: 2rem 1rem;
}
