.main {
  width: 100%;
  overflow: auto;
  flex: 1;
}

.main .title {
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 1.1em;
}

.main ul {
  list-style: none;
}

.details {
  position: relative;
  flex: 1 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 var(--shadow-color);
  border-radius: 4px;
  padding: 15px 10px;
}


.importantInfo {
  font-weight: bold;
  padding: 0 0 0 40px;
}

.importantInfo pre {
  font-weight: normal;
}
