.sidebar {
    background: linear-gradient(140deg,#193b84 15%,#037bc1);
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.21);
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar .title {
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 1.2em;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 25px 0;
    display: inline-block;
    text-align: left;
}

.sidebar .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .list a {
    color: #fff;
}
.sidebar .list a:hover {
    text-decoration: none;
}

.sidebar .subList {
    text-align: left;
    padding: 0 5px 5px 5px;
}
.sidebar .subList li {
    margin: 0 0 10px 0;
}
.sidebar .subList a {
    text-align: left;
}

