.sidebar {
    background: linear-gradient(140deg, #037bc1 15%,#193b84);
    /* background: yellow; */
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.21);
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.sidebar .title {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 25px 0;
    display: inline-block;
    /* text-align: left; */
    font-size: 2em;
    text-align: left;
    text-shadow: 0 0 1px #000;
}

.logo:hover {
    text-decoration: underline;
}

.sidebar .list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.sidebar .list a {
    color: #fff;
}
.sidebar .list a:hover {
    text-decoration: none;
}

.sidebar .item {
    margin: 0 0 10px 0;
}
.sidebar .subList {
    text-align: left;
    padding: 0 5px 5px 15px;
    margin: 0;
}
.sidebar .subList li {
    margin: 0 0 10px 0;
}
.sidebar .subList a {
    text-align: left;
}

