.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

/* main part */
.rightPart{
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.rightPart .App-header {
  padding: 15px 10px;
}

.wrapper {
  padding: 15px 10px;
}


/*
styles for game should be scss
$alive-color: white;

.alive {
  background-color: $alive-color;

  &:hover {
    background-color: $alive-hover-color;
  }
}

.dead {

  &:hover {
    background-color: $border-color;
  }
}
*/
.game {
  margin: 30px auto;
}
h1 {
  margin: 0 0 30px 0;
}

.grid {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.row1 {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  height: 20px;
  width: 100%;

}
.col1 {
  flex-direction: column;
  height: 10px;
  width: calc(100% / 10);
  /* width: 10px; */
  height: calc(100%);
  box-shadow: 0 0 0 0.1px BLACK inset;

}

.alive {
  background-color: white;
}

.dead {
  /* background-color: #000; */
  background-color: #483636;
}
