.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

/* main part */
.rightPart{
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.rightPart .App-header {
  padding: 15px 10px;
}

.wrapper {
  padding: 15px 10px;
}
