.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

/* main part */
.wrapper {
  text-align: left;
  padding: 15px 10px;
}
